.top-header {
  background-color:#101820;
}
.subheader, footer, #links a, .form-control, .form-check-input, .form-select {
  background-color: #4E2A2C
}
aside, .card-md, .swal2-popup, #kt_quick_user {
  background-color:#101820;
}
#userinit {
  background-color: aquamarine;
}
.submenu ul li a, .menu-link span, .swal2-popup {
  color: bisque;
}
#root {
  background-color: #000;
  color: white;
}
#aside_menu_wrapper {
  width: 70%;
  background-color: rgba(75, 79, 84, 0.3);
}
.table {
  --bs-table-color: #fff;
  --bs-table-bg: #212529;
  --bs-table-border-color: #373b3e;
  --bs-table-striped-bg: #2c3034;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #373b3e;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #323539;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
  --bs-table-accent-bg: transparent;
}
.form-control, .form-select {
  border: 0px;
  color: white;
}
.form-control:focus {
  background-color: #7D3034;
  color: white;
}
.btn-save:hover, .form-control:disabled {
  background-color: #6c757d;
}
.btn-save {
  background-color: #7D3034;
}
.product-title:hover {
  background-color: #4E2A2C;
}