body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#userinit {
  display: inline-block;
  width: 2em;
  height: 2em;
}
#userinit:hover {
  cursor: pointer;
}
.top-header, .subheader {
  height: 60px;
}
#content {
  margin: 2em;
}